body {
font-size: 62.5%;
}


#title { 
font-size:7.5em; 
position: absolute; 
font-family: 'Sansita One', cursive;
top: 200px ; 
left: 300px ;
color: #980000 ; 

}

#quote { 
color:black; 
font-size:3.7em; 
position: absolute; 
font-family: 'Forum', cursive;
top: 300px;
left: 325px ;
color: black; 

}

#anette1text {
color:white; 
font-size:2.4em; 
position: absolute; 
font-family: 'Sansita One', cursive;
top: 500px;
left: 200px ;
}

#anette1bodytext {
font-size:1.6em; 
font-family: 'Forum', cursive;
position: absolute;
top: 490;
left:200px; 
width: 500px;
color: #980000;
}

#anette2text {
color:white; 
font-size:2.4em; 
position: absolute; 
font-family: 'Sansita One', cursive;
top: 430px;
left: 10px ;
}

#anette2bodytext {
font-size:1.6em; 
font-family: 'Forum', cursive;
position: absolute;
top: 530;
left:10px; 
width: 500px;
color: #980000;
}

#mehretu1text {
color:black; 
font-size: 1.8em; 
position: absolute; 
font-family: 'Sansita One', cursive;
top: 590px;
left: 10px ; 
}

#mehretu2bodytext {
font-size:1.6em; 
font-family: 'Forum', cursive;
position: absolute;
top: 530;
left:10px; 
width: 500px;
color: #980000;

}

#mehretu2text {
color:black; 
font-size: 1.8em; 
position: absolute; 
font-family: 'Sansita One', cursive;
top: 430px;
left: 10px ;
width:800px; 
}

#twomblyquote {
color:black; 
font-size: 1.8em; 
position: absolute; 
font-family: 'Sansita One', cursive;
top: 10px;
left: 10px ;
width:800px;
}

#twomblyquote2 {
color: #980000;
font-size: 2.1em; 
position: absolute; 
font-family: 'Forum', cursive;
top: 0px;
left: 10px ;
width:800px;
}

#scat {
font-size: 2.1em;
color:black; 
font-family: 'Sansita One', cursive;
}

#anal {
font-size: 2.1em;
color:black; 
font-family: 'Sansita One', cursive;
float: right;
}

#visceraldrawingdefinition {
color: #980000;
font-size: 3.6em; 
position: absolute; 
font-family: 'Forum', cursive;
top: 150px;
left: 50px ;
width:500px;
}

#thanks {
color: black;
font-size: 2.1em; 
position: absolute; 
font-family: 'Sansita One', cursive;
top: 500px;
left: 75px ;
width:600px;
}